/***** Category pages *****/
.category {
  &-container {
    display: flex;
    justify-content: flex-end;
  }

  &-content {
    @include desktop {
      flex: 0 0 80%;
    }

    flex: 1;
  }
}

.section-tree {
/*  @include tablet { flex-direction: row; }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
*/
  //.section {
  //  @include tablet { flex: 0 0 90%; /* Two columns for tablet and desktop. Leaving 5% separation between columns */ }
  //  flex: initial;
  //}

  &-title {
    margin-bottom: 0;
    text-align: left !important;
    //a { color: $text_color; }
  }

  .see-all-articles {
    display: block;
    padding: 15px 0;
  }
}

.article-list {
  &-item {
    margin-bottom: 1rem;
    font-size: $font-size-bigger;

    a { color: $text_color;
        font-weight: bold;
        font-size: $font-size-bigger;
      }

    .icon-lock::before {
      vertical-align: baseline;
    }

    div {
      border-bottom: 1px solid $gray-100;
      padding-bottom: 2rem;
    }
  }
  &-excerpt {
    font-size: $font-size-base;
    padding: 0;
    margin: .75rem 0 0;
    line-height: 1.3rem;
    color: $gray-500;
  }
}

.icon-star::before {
  color: $brand_color;
  font-size: 18px;
}
