// Component made for elements that are separated with space between
.page-header {
  @include tablet {
    align-items: baseline;
    flex-direction: row;
    margin: 0;
  }

  /*display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  */
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  text-align: left;

  .section-subscribe {
    @include tablet {
      margin-bottom: 0;
    }

    flex-shrink: 0; //Avoid collapsing elements in Safari
    margin-bottom: 10px;
  }

  h1,
  h2 {
    flex-grow: 1;
    font-weight: 600;
    color: $gray-900;
    margin: 0;
    padding: 0;
  }

  &-description {
    @include desktop {
      width: 75%;
    }
    font-style: italic;
    font-weight: $font-weight-light;
    font-size: $font-size-base;
    margin: 0;
    word-break: break-word;
    padding: 1em 0;
  }

  .icon-lock::before {
    content: "\1F512";
    font-size: 20px;
    position: relative;
    left: -5px;
    vertical-align: baseline;
  }
}
