/***** Recent activity *****/

.recent-activity {
  &-header {
    font-size: 1.2rem;
  }

  &-list { padding: 0; }

  &-item {

  }

  &-item-parent {

  }

  &-item-parent,
  &-item-link {
    font-weight: normal;
    word-wrap: normal;
  }

  &-item-link {

  }

  &-item-meta {

  }

  &-item-time,
  &-item-comment {
    color: $secondary-text-color;
    display: inline-block;
    font-size: $font-size-small;
    font-weight: $font-weight-light;
  }

  &-item-comment {
    padding-left: 5px;
    display:none;

    [dir="rtl"] & { padding: 0 5px 0 0; }

    &::before {
      display: inline-block;
    }

    span::before {
      @extend .icon;
      color: $brand_color;
      content: "\1F4AC";
      display: inline-block;
      font-size: $font-size-base;
      padding-right: 3px;
      vertical-align: middle;

      [dir="rtl"] & {
        padding-left: 3px;
      }
    }
  }

  &-controls {
    padding-top: 15px;
    text-align: right;
    font-size: $font-size-smaller;
  }
}
